   {{extend "cms_layout.html"}} 

    
    
    {{block content}} 

<div class="content" style="padding:20px 20px 20px 20px;">
    <table class="table table-condensed">
    <thead>
    <tr>
    <th>序号</th>
    <th>名称</th>
    <th>地址城市</th>
    <th>时间</th>
    </tr>
    </thead>
    <tbody>
{{for n in c1:}}
    <tr>
    <td>{{=n.id}}</td>
    <td>{{=n.name}}</td>
    <td>{{=n.address}}</td>
    <td>{{=n.course_time}}</td>
    </tr>
{{pass}}
    </tbody>
    </table>
   <hr>
   {{<<n.desc}} 

</div>
{{end}}
