.suggested-actions {
    padding-top: 124px;
}
.suggested-actions .suggested-action:hover {
    border-color: #C3CA7D;
    box-shadow: 0 0 10px #76A005;
    color: #444444 !important;
    text-decoration: none !important;
}
.suggested-actions .suggested-action:hover .suggested-action-title {
    color: #678D00;
    text-decoration: underline;
}
.suggested-action {
    background-color: #F7F7F7;
    color: #444444 !important;
    display: block;
    margin-bottom: 0;
    padding: 14px;
    position: relative;
}
.suggested-action .suggested-action-image-link {
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #DCE0B3;
    display: block;
    height: 130px;
    margin: -14px -14px 22px;
}
.suggested-action .suggested-action-title {
    color: #005987;
}
.logged-out-sidebar .suggested-action .suggested-action-image-link {
    background-position: 0 -35px;
}
.thumbnail {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px 1px #CCCCCC;
    height: 135px;
    margin-bottom: 20px;
    width: 100%;
}
.thumbnail .thumbnail_label {
    background-color: rgba(0, 0, 0, 0.698);
    bottom: 0;
    color: #FFFFFF;
    left: auto;
    padding: 5px 10px;
    position: absolute;
    right: auto;
    top: auto;
    width: 100%;
    z-index: 2;
}
.thumbnail .thumbnail_label .thumbnail_desc {
    display: block;
    line-height: 2;
}
.thumbnail .thumbnail_label .thumbnail_teaser {
    font-size: 10px;
    height: 0;
}
.thumbnail .thumbnail_play_icon {
    bottom: 0;
    left: 50%;
    margin: -30px 0 0 -30px;
    position: absolute;
    right: 0;
    top: 50%;
}
.thumbnail .thumbnail_play_icon i {
    color: #FFFFFF;
    font-size: 60px;
    opacity: 0.7;
    text-shadow: 0 0 3px #555555;
}
.thumbnail:hover .thumbnail_play_icon i {
    color: #73982C;
    text-shadow: 0 0 3px #222222;
}
.lte8 .thumbnail_play_icon {
    display: none;
}
.suggestions-container .thumbnail {
    margin-bottom: 20px;
    vertical-align: top;
}
.video-thumb, .exercise-thumb {
    overflow: hidden;
    position: relative;
}
.video-thumb {
    background-position: 0 -50px;
}
.lte8 .video-thumb {
    background-position: -25px -65px;
}
.featured {
    overflow: hidden;
    position: relative;
}
.featured:before {
    background: none repeat scroll 0 0 #76A005;
    bottom: auto;
    color: #FFFFFF;
    content: "Featured";
    display: block;
    font-size: 10px;
    left: -19px;
    position: absolute;
    right: auto;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    top: 10px;
    transform: rotate(-45deg);
    width: 80px;
}
.featured.suggested:before {
    content: "Suggested";
    font-size: 9px;
}
.suggestions a:first-child .featured.suggested:before {
    display: block;
}
.lte8 .featured:before {
    left: 0;
    top: 0;
}
.library-section .section-separator {
    margin: 30px auto;
}
.library-section li {
    margin-bottom: -0.5em;
}
.library-section .topic-children a {
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0.5em;
    overflow: visible;
    padding: 1px 5px;
    position: relative;
    white-space: nowrap;
}
.library-section .topic-children a:hover {
    background-color: #DDDDDD;
    border-color: #AAAAAA;
    color: #003754;
    text-decoration: none;
}
.library-section .recents-container {
    margin-top: -10px;
}
.library-section .recent-topic-box {
    background: none repeat scroll 0 0 white;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px 1px #CCCCCC;
    display: block;
    margin-top: 4px;
    min-height: 110px;
    opacity: 0.8;
    padding: 10px;
    position: relative;
}
.library-section .recent-topic-box .topic-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.library-section .recent-topic-box .topic-header .topic-stats {
    color: #444444 !important;
    float: right;
    margin-left: 5px;
}
.library-section .recent-topic-box .topic-header .topic-title {
    font-size: 18px;
    white-space: nowrap;
}
.library-section .recent-topic-box .upcoming-header {
    color: #444444 !important;
    font-size: 14px;
    margin: 5px 0;
    text-decoration: none !important;
}
.library-section .recent-topic-box .upcoming-item {
    font-size: 14px;
    margin-left: 15px;
}
.library-section .recent-topic-box .topic-icon {
    bottom: 10px;
    height: 40px;
    left: auto;
    opacity: 0.5;
    position: absolute;
    right: 10px;
    top: auto;
    width: 40px;
}
.library-section .recent-topic-box:hover {
    border-color: #C3CA7D;
    box-shadow: 0 0 10px #76A005;
}
.library-section .recent-topic-box:hover .topic-title, .library-section .recent-topic-box:hover .node-link {
    color: #678D00;
    text-decoration: underline;
}
.library-section .recent-topic-box:hover .progress-icon:before {
    color: #AAAAAA;
}
.topic-preview-hovercard {
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    height: 300px;
    position: absolute;
    width: 200px;
    z-index: 1010;
}
.homepage-actions {
    margin-top: 2.5em;
}
.has-suggestions .homepage-actions {
    margin-top: 0;
}
.large-search-menu {
    z-index: 1010 !important;
}
ul.ui-autocomplete.large-search-menu .ui-menu-item a, ul.ui-autocomplete.large-search-menu .ui-menu-item .autocomplete-spacer {
    font-size: 14px;
}
ul.ui-autocomplete.large-search-menu .ui-menu-item a .autocomplete-type, ul.ui-autocomplete.large-search-menu .ui-menu-item .autocomplete-empty {
    line-height: 22px;
    width: 80px;
}
.large-search-bar-container {
    margin-bottom: 0;
}
.stories-container {
    position: relative;
    z-index: 1;
}
.stories-container .slit-overlay-background {
    height: 70px;
}
.stories-container .all-stories {
    text-align: right;
}
.story-container .tape.envelope-under {
    height: 45px;
}
.modal-story .modal-header .close {
    float: right;
}
.slit-overlay-background {
    background: none repeat scroll 0 0 #FFFFFF;
}
.info-section .info-text {
    min-height: 110px;
}
.topic-link-hovercard {
    width: 300px;
}
.topic-link-hovercard .hover-card-container {
    width: 300px;
}
.topic-link-hovercard .hover-card-content {
    opacity: 0.8;
    padding: 0 5px;
}
.topic-link-hovercard .hover-card-triangle:before {
    border-color: #BBBBBB transparent -moz-use-text-color;
    border-left: 9px solid transparent;
    border-style: solid solid none;
    border-width: 9px 9px 0;
    bottom: 2px;
    top: auto;
}
.topic-link-hovercard .hover-card-triangle:after {
    border-color: #FFFFFF transparent -moz-use-text-color;
    border-left: 9px solid transparent;
    border-style: solid solid none;
    border-width: 9px 9px 0;
    bottom: 3px;
    top: auto;
}
.topic-link-hovercard .sample-content-link {
    display: block;
    margin-bottom: 0.25em;
    padding-left: 16px;
    text-indent: -16px;
}
.topic-link-hovercard .sample-content-link i {
    margin-left: 16px;
    margin-right: -15px;
}
.lte8 .topic-link-hovercard .hover-card-content {
}
.qtip-default.custom-override .qtip-content {
    top: 15px;
}
#nav-and-search .page-search {
    display: none;
}
.join-academy p {
    margin: 8px 0 0;
}
.join-academy .section-separator {
    margin: 15px auto;
}
.join-academy .section-separator-text {
    background: none repeat scroll 0 0 #F7F7F7;
}
.sign-up-sign-in {
    margin-top: 22px;
    text-align: center;
}
.ie8 .join-academy .section-separator, .ie8 .join-academy .subscribe-tease {
    display: none;
}
.lte8 .page-ribbon h1 {
    font-size: 23px;
}
.page-ribbon {
    border-left: medium none;
    border-right: 0 none;
    left: 0;
    padding: 10px 17px;
    right: 0;
}
.page-ribbon:before, .page-ribbon:after {
    display: none;
}
#rss-feed {
    display: none;
}
.page-ribbon h1 {
    font-size: 23px;
}
.page-ribbon {
    height: auto;
    margin: 22px -19px;
    position: static;
}
.suggested-actions {
    margin-top: 22px;
    padding: 0;
}

.vertical-shadow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px #CCCCCC;
}
