{{extend "cms_head.html"}}
{{block content}}



 <div style="background:#f93;" class="styleguide-color"></div>
<h1>python资料</h1>

<div class="indexmain">
	<ul >


{{for n in cate_list:}}
<li class="row-fluid suggested-actions" style="width:270px;height:200px">
<a href="/content_show/{{=n.id}}" class="vertical-shadow suggested-action ">
<img src="{{=n.image}}" style="height:80px">
<h3 class="pulls ellipsis suggested-action-title">{{=n.title}}</h3>
<p>热门书籍</p>
</a>
</li>
{{pass}}




  </ul>
</div>

 <div style="background:#4183c4;" class="styleguide-color"></div>

{{end}}
