{{extend "cms_head.html"}}
{{block content}}

{{from cms.views import subString}}

 <div class="boxed-group">
    <h3>{{=cate_info.name}}</h3>
    <div class="boxed-group-inner markdown-body">
 

{{for n in cate_list:}}

<div class="cmswell">
  <div class="box cutout" style="float:left;">
   <span class="image-wrap " style="position:relative; display:inline-block; background:url({{=n.image}}) no-repeat center center; width: 100px; height: 100px;">
    <img src={{=n.image}} style="opacity: 0;">
    </span>
   </div> 
   <div style="position:relative;left:20px;margin-left: 20px">
	<span><a href=/content_show/{{=n.id}}> {{=n.title}}</a></span></p>
        {{=subString(n.content,150)}}...
   </div>
</div>
{{pass}}

    </div>
 </div>




{{end}}
