{{block html_tag}}<html>{{end}}

{{from admin.views import common,get_siteinfo}}
{{cates = common()}}
{{site_info = get_siteinfo()}}

  <head>
    {{block meta}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    {{end}}
    <title>{{if site_info:}}
	{{=site_info.sitename}}
	{{pass}}
	</title>
    <!-- toplinks -->
    {{use "bootstrap"}}


 <link href="/static/css/cms.css" rel="stylesheet">
 <link href="/static/css/video.css" rel="stylesheet">
 <link href="/static/css/style.css" rel="stylesheet">


{{link "bootstrap_extend.css"}}
{{link "bootheme/bootheme.css"}}
  </head>

{{block body_tag}}<body class="bootstrap-body">{{end}}

{{block before_header}}{{end}}

{{block header}}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">{{block project}}编程公园{{end}}</a>
      <div class="nav-collapse">
        {{block nav}}
        <ul class="nav">
	  {{for n in cates:}}
          <li class="active"><a href="/">{{=n.name}}</a></li>
	  {{pass}}
          <li ><a href="/new">立即报名</a></li>
          <li ><a href="/showapply">已确认名单</a></li>
          <li ><a href="/showcourses">课程列表</a></li>
        </ul>
        {{end}}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
{{end}}
    
<div class="container">
    <div class="content-outter">
      <!--div class="content-container"-->
        {{block content}}
        {{end}}
    </div>
</div>

{{block footer_container}}
<div class="container">
  <footer class="row" style="padding:40px 40px 40px 40px">
  {{block footer}}
     <h3>智普教育,基于<a href=http://github.com/asmcos/jeapcms>JeapCMS</a>系统,感谢<a href=http://uliweb.cpython.org>uliweb提供的基础框架。</a> </h3>
  {{end}}
  </footer>
</div>
{{end footer_container}}

{{block after_footer}}{{end}}

  </body>
</html>


