{{extend "cms_head.html"}}
{{block content}}

{{from cms.views import *

cate_name = category_get(6)
count  = cate_name.count()
cate_n = list(cate_name)

if count > 0:
	cont6 = category_content(cate_n[0].id)

if count > 1:
	cont7 = category_content(cate_n[1].id)
if count > 2:
	cont8 = category_content(cate_n[2].id,limit=3)
	cont8_1 = category_content(cate_n[2].id,limit=1)

if count > 3:
	cont9 = category_content(cate_n[3].id)
if count > 4:
	cont10 = category_content(cate_n[4].id,1)
}}

<style type="text/css">
#sub-hover a:hover img, #sub-hover a.hover img {
  height: 100px;
  width: 100px;
}
</style>

<div class="row" id="sub-hover">
	<div class="span3" >
	<a href=/category_show/{{=cate_n[0].id}}>	<img src="static/1.png"> </a>
		{{=cate_n[0].name}}	

	</div>
	<div class="span3">
	<a href=/category_show/{{=cate_n[1].id}}>	<img src="static/2.png"> </a>
		{{=cate_n[1].name}}	
	</div>
	<div class="span3">
	<a href=/category_show/{{=cate_n[2].id}}>	<img src="static/3.png"> </a>
		{{=cate_n[2].name}}	
	</div>
	<div class="span2" style="height:100px">
	<a href=/category_show/{{=cate_n[3].id}}>	<img src="static/4.png"> </a>
		{{=cate_n[3].name}}	
	</div>
</div>

<div class="row">
  <div class="span6">
   <div class="boxed-group .warn">
    <h3>{{=cate_n[0].name}}</h3>
    <div class="boxed-group-inner markdown-body">
	<ul class="boxed-group-list">
	{{for n in cont6:}}
      <li class="linked-item .warn"><a href=/content_show/{{=n.id}}>{{=n.title}}</a></li>
	{{pass}}
	</ul>
    </div>
  </div>
  </div> <!--span6-->


  <div class="span4">
   <div class="boxed-group">
    <h3>{{=cate_n[1].name}}</h3>
    <div class="boxed-group-inner markdown-body">
	<ul class="boxed-group-list">
	{{for n in cont7:}}
      <li class="linked-item .message"> <a href=/content_show/{{=n.id}}>{{=n.title}}</a></li>
	{{pass}}
	</ul>
    </div>
  </div>
 </div> <!--span3-->

</div> <!--row-->
  



 <div class="boxed-group">
    <h3>{{=cate_n[2].name}}</h3>
    <div class="boxed-group-inner markdown-body">
 

{{for n in cont8:}}

<div class="discussion-bubble">
      <img class="discussion-bubble-avatar" width="48" height="48" src={{=n.image}}>

      <div class="discussion-bubble-content bubble">
        <div class="discussion-bubble-inner">
          <!-- content goes here -->
           <a href=/content_show/{{=n.id}}>{{=n.title}}</a>
        </div>
      </div>
    </div>


{{pass}}

    </div>
  </div>


<div class="row" style="height:150px">
	<div class="span6">
	<div class="row">
		<div class="span3">
		{{for n in cont10:}}
		<h3><a href=/content_show/{{=n.id}}>{{=n.title}}</a></h3>
		{{pass}}	
		</div>
		<div class="span2">
		<img src="static/pic1.jpeg">
		</div>
	</div>
	</div>
	<div class="span5">
	<div class="row">
		<div class="span2">
		{{for n in cont8_1:}}
		<h3><a href=/content_show/{{=n.id}}>{{=n.title}}</a></h3>
		{{pass}}	
			
		</div>
		<div class="span2">
		<img src="static/pic2.jpeg">
		</div>
	</div>
	</div>


</div>

<div style="background:#4183c4;" class="styleguide-color">
	{{for n in cont9:}}
	<li><a href=/content_show/{{=n.id}}>{{=n.title}}</a></li>
	{{pass}}
</div>

<div>
<h3>在线编写python程序</h3>
<iframe width=100% height="800" frameborder="0"
        src="http://pythontutor.com/visualize.html#mode=display">
</iframe>

</div>
{{end}}
