{{extend "cms_layout.html"}}
{{block content}}

{{from cms.views import get_category_by_order}}
<div class="row">

{{contents0,cate0 = get_category_by_order(0)}}
  <div class="span6">
   <div class="boxed-group .warn">
    <h3>{{if cate0:}}{{=cate0.name}}{{pass}}</h3>
    <div class="boxed-group-inner markdown-body">
<ul class="boxed-group-list">
{{for n in contents0:}}
      <li class="linked-item .warn"><a href=/content_show/>{{=n.title}}</a></li>
{{pass}}
</ul>
    </div>
  </div>
  </div> <!--span6-->


{{contents1,cate1 = get_category_by_order(1)}}
  <div class="span5">
   <div class="boxed-group">
    <h3>{{if cate1:}}{{=cate1.name}}{{pass}}</h3>
    <div class="boxed-group-inner markdown-body">
<ul class="boxed-group-list">
{{for n in contents1:}}
      <li class="linked-item .message"> <a href=/content_show/>{{=n.title}}</a></li>
{{pass}}
</ul>
    </div>
  </div>
 </div> <!--span5-->

</div> <!--row-->


{{contents2,cate2 = get_category_by_order(2)}}
 <div class="boxed-group">
    <h3>{{if cate2:}}{{=cate2.name}}{{pass}}</h3>
    <div class="boxed-group-inner markdown-body">
 

{{for n in contents2:}}

<div class="discussion-bubble">
      <img class="discussion-bubble-avatar" width="48" height="48" src={{=n.image}}>

      <div class="discussion-bubble-content bubble">
        <div class="discussion-bubble-inner">
          <!-- content goes here -->
           <a href=/content_show/{{=n.id}}>{{=n.title}}</a>
        </div>
      </div>
    </div>


{{pass}}

    </div>
  </div>

{{end}}
