{{ extend "base.html"}}

{{block content}}
<section id="typography">

<div class="bs-docs-example">
<ul class="nav nav-pills">
  <li class="active">
    <a href="/admin/content/new/{{=id}}">添加内容</a>
  </li>
  <li><a href="/admin/category/edit/{{=id}}">编辑栏目</a></li>
</ul>


    <table class="table table-condensed">
    <thead>
    <tr>
    <th>序号</th>
    <th>标题</th>
    <th>时间</th>
    </tr>
    </thead>
    <tbody>
{{for n in contents:}}
    <tr>
    <td>{{=n.order}}</td>
    <td><a href="/admin/content/edit/{{=n.id}}">{{=n.title}}</a></td>
    <td>{{=n.cr_date}}</td>
    </tr>
{{pass}}
    </tbody>
    </table>

</div>

</section>

{{end}}
