{{extend "head.html"}}

{{block content}}
{{from cms.views import subString}}
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="/admin" >站点管理</a></li>
    <li class="active"><a href="#tab1" data-toggle="tab">{{=subString(name,20)}}</a></li>
  </ul>
  
  <div class="tab-content">
	
    <div class="tab-pane active" id="tab1">
		{{<<form}}
     </div>


  </div>
</div>



{{end}}


{{block js_script}}

    {{include "inc_xheditor_plugins.html"}}
    <script type="text/javascript">
    $(function(){
    $('textarea').xheditor({
    tools:'Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Flash,Hr,Emot,Table,Code,Quote,|,About',
    skin:'default',
    upFlashExt:"swf",
    plugins:plugins,
    height:300,
    width:600,
    });
    });
    </script>
{{end}}

